@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-gradient-animation {
    background: linear-gradient(-45deg, #60a5fa, #dbeafe, #497186, #e69a9a);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
